<%- include("partials/header") %>

<p value="<%=docs%>" id="docs" style="display:none"></p>
<!-- <h2>Compare</h2> -->
<div id="loading">
  <img id="loading-image" src="Loading.gif" alt="Loading..." />
  <h5>Your documents are being process...</h5>
</div>
<div id="crop">
    <img id="crop-image" src="Document2.png" width=300 height=400 alt="">
</div>
<div class="row select-body">
  <div class="col lg-5">
    <h3 id="test" >Choose Target Document</h3>
    <div class="choose-box">
        <select class="form-select" id="targetDoc">
        <%  docs.forEach(doc => { %>
            <option data-name="<%= doc.name %>" data-id="<%=doc._id%>" value="data:image/<%=doc.img.contentType%>;base64,<%=doc.img.data.toString('base64')%>" ><%= doc.name %></option>
        <% }); %>
        </select>
        <button class="btn btn-primary" onclick="cropImage_trg()" type="button" name="button">choose</button>
    </div>
    <div id="zero-message-target" class="zero-target-doc">
      <p>You hav'nt selected target document</p>
    </div>
    <div id="chosen-doc" class="image-box">
      <img src="Document2.png" id="targetImg" name="" alt="">
    </div>
  </div>
  <div class="col-lg-7 verticalLine">
    <h3>Choose Documents To Compare</h3>
    <div class="choose-box">
      <select class="form-select" id="compareDoc">
        <%  docs.forEach(doc => { %>
            <option data-id="<%=doc._id%>" data-name="<%=doc.name%>" value="data:image/<%=doc.img.contentType%>;base64,<%=doc.img.data.toString('base64')%>" ><%= doc.name %></option>
        <% }); %>
      </select>
      <button class="btn btn-primary" onClick="cropImage_cmpr()" type="button" name="button">Add</button>
    </div>
    <div class="img-box">
      <h5 id="count">Total: 0</h5>
      <div id="zero-message" class="zero-docs-compare">
        <p>You hav'nt added any documents</p>
      </div>
      <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-compare">
        <div id="items" class="carousel-inner">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
    </div>
    <div class="horizontalLine">
      <div class="row">
        <div class="col-sm-3">
          <select name="selectedModel" class="form-control" onfocus='this.size=2;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
            <% models.forEach(model=>{%>
              <option value=<%=model%>> <%=model%> </option>
            <% }) %>
          </select>
        </div>
        <div class="col-sm-9">
          <button class="btn btn-success btn-cmpr" type="button" onclick="getDocuments()" name="button" >Compare</button>
        </div>
      </div>
    </div>
</div>
    <div class="results-box">
      <h3>Results</h3>
      <h5 id="resultTargetDocumentName" >Target Document Selected: </h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Document Name</th>
            <th scope="col">Compatibility</th>
            <th scope="col">Model Assessment</th>
          </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
      let count = 0;
      let resize;
          var el = document.getElementById('crop-image');
          resize = new Croppie(el, {
              viewport: { width: 200, height: 100 },
              boundary: { width: 450, height: 550 },
              showZoomer: false,
              enableResize: true,
              enableOrientation: true,
              mouseWheelZoom: 'ctrl'
          });
    
      var boundaryDiv = document.getElementsByClassName('cr-boundary')[0];
          boundaryDiv.style.maxWidth = "450px";
          boundaryDiv.style.maxHeight = "550px";
    
      var cropDiv = document.getElementById('crop');
      // crop button
      var cropButton = document.createElement('button');
      cropButton.classList.add("btn", "btn-success");
      cropButton.innerHTML = "Crop & Add";
      cropButton.style.float = "left";
    
      // cancel button
      var cancelButton = document.createElement('button');
      cancelButton.classList.add("btn", "btn-danger");
      cancelButton.innerHTML = "Cancel";
      cancelButton.style.float = "right";

      cropDiv.appendChild(cropButton);
      cropDiv.appendChild(cancelButton);
    
      function getDocuments(){
        document.getElementById("loading").style.display = "block";
        var targetDoc = {name: document.getElementById("targetImg").name, id: document.getElementById("targetImg").dataset.id,
        points:document.getElementById("targetImg").dataset.points};
        var compareDocs = [];
        var chosenDocs = document.getElementsByClassName("chose-img");
        const selectedModel = document.getElementsByName("selectedModel")[0].value;
        for(var i=0; i<chosenDocs.length; i++){
          compareDocs.push({name: chosenDocs[i].name, id: chosenDocs[i].dataset.id, points:chosenDocs[i].dataset.points});
        }
        console.log(compareDocs);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/send-to-model", true);
        xhr.onreadystatechange = function () {
          // In local files, status is 0 upon success in Mozilla Firefox
          if(xhr.readyState === XMLHttpRequest.DONE) {
            var status = xhr.status;
            if (status === 0 || (status >= 200 && status < 400)) {
              // The request has been completed successfully
              showResultsInPage(xhr.responseText,targetDoc,compareDocs);
            }
          }
        }
        xhr.setRequestHeader('Content-Type', "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({
    
          target: targetDoc,
          compare: compareDocs,
          model: selectedModel
        }));
      }
    
      function showResultsInPage(result,target,compare){
        document.getElementById("loading").style.display = "none";
        document.getElementsByClassName("results-box")[0].style.display = "block";
        document.getElementsByClassName("footer")[0].style.position = "sticky";
        document.getElementById("resultTargetDocumentName").innerHTML = "Target Document Selected: " + "&emsp;" + "<b>"+target.name+"</b>";
    
        var table = document.getElementById("table-body");
        while (table.firstChild) {
          table.removeChild(table.lastChild);
        }
        var row,head,precent,doc_name,doc_precent,model_asses;
        result = JSON.parse(result);
        console.log(result);
        for(var i=0; i<compare.length; i++){
          row = document.createElement("tr");
          head = document.createElement("th");
          head.scope = "row";
          head.innerHTML = i+1;
          doc_name = document.createElement("td");
          doc_name.innerHTML = compare[i].name;
          doc_precent = document.createElement("td");
          precent = result[i]*100;
          console.log(precent);
          doc_precent.innerHTML = String(precent) + "%";
          model_asses = document.createElement("td");
          if(precent < 50){
            row.classList.add("table-danger");
            model_asses.innerHTML = "Not Same Writer";
          }else if(precent >= 50 && precent < 75){
            row.classList.add("table-warning");
            model_asses.innerHTML = "Could Be The Same Writer";
          }else if(precent >= 75){
            row.classList.add("table-success");
            model_asses.innerHTML = "Same Writer";
          }
          row.appendChild(head);
          row.appendChild(doc_name);
          row.appendChild(doc_precent);
          row.appendChild(model_asses);
          table.appendChild(row);
          document.getElementsByClassName("body")[0].style.height = "max-content";
        }
      }
      function closeCropWindow(){
        document.getElementById('crop').style.display = "none";
      }
      
      async function chooseTargetDocument(){  
    
      }
    
      function cropImage_trg(){
        var el = document.getElementById('crop-image');
        var doc = document.getElementById("targetDoc");
        
        el.src = doc.options[doc.selectedIndex].value;
        resize.bind({
            url: el.src,
        });
    

    
       
        cropButton.onclick = async()=>{
          
          var targetImg = document.getElementById("targetImg");
          var points = (resize.get()).points;
          var width = parseInt(points[2]) - parseInt(points[0]);
          var height = parseInt(points[3]) - parseInt(points[1]);
          targetImg.src = await resize.result("canvas",{width,height},"png",1,false);
          //doc.options[doc.selectedIndex].value;
          targetImg.name = doc.options[doc.selectedIndex].dataset.name;
          targetImg.dataset.id = doc.options[doc.selectedIndex].dataset.id;
          targetImg.dataset.points = points;
          document.getElementById("zero-message-target").style.display = "none";
          document.getElementById("chosen-doc").style.display = "block";
          closeCropWindow();
          
          };
          cancelButton.onclick = ()=>{
          closeCropWindow();
        };
        
        var cropDiv = document.getElementById('crop');
        cropDiv.style.display = "block";
    
      }
    
  
    
      function cropImage_cmpr(){
        var el = document.getElementById('crop-image');
        var doc = document.getElementById("compareDoc");
    
        el.src = doc.options[doc.selectedIndex].value;
        resize.bind({
            url: el.src,
        });
        cropButton.onclick= async()=>{
          document.getElementById("zero-message").style.display = "none";
          document.getElementById("carouselExampleDark").style.display = "block";
          var doc = document.getElementById("compareDoc");
          var itemDiv = document.createElement("div");
          itemDiv.classList.add("carousel-item");
          itemDiv.id = count;
          if(count == 0){
            itemDiv.classList.add("active");
          }
          var img = document.createElement("img");
          img.classList.add("chose-img");
          var points = (resize.get()).points;
          var width = parseInt(points[2]) - parseInt(points[0]);
          var height = parseInt(points[3]) - parseInt(points[1]);
          console.log(width,height);
          img.src = await resize.result("canvas",{width,height},"png",1,false);
          img.name = doc.options[doc.selectedIndex].dataset.name;
          img.dataset.id = doc.options[doc.selectedIndex].dataset.id;
          img.dataset.points = points;
          img.id = count;
          // img.width = 300;
          // img.height = 400;
          itemDiv.appendChild(img);
          var infoDiv = document.createElement("div");
          infoDiv.classList.add("carousel-caption","d-none","d-md-block","manage-buttons");
          docTitle = document.createElement("h5");
          var node = document.createTextNode(img.name);
          console.log(doc.name);
          docTitle.appendChild(node);
          infoDiv.appendChild(docTitle);
          var buttonsDiv = document.createElement("div");
          var buttonView = document.createElement("button");
          buttonView.innerHTML = "View&emsp;" + '<i class="fas fa-expand"></i>';
          buttonView.classList.add("btn", "btn-primary" ,"document-button");
          buttonView.onclick = openDocumentInNewWindow;
          buttonView.id = count;
          var buttonRemove = document.createElement("button");
          buttonRemove.innerHTML = "Remove&emsp;" + '<i class="fas fa-trash-alt"></i>';
          buttonRemove.classList.add("btn", "btn-danger" ,"document-button");
          buttonRemove.id = count;
          buttonRemove.onclick = removeSelectedDocument;
          buttonsDiv.appendChild(buttonView);
          buttonsDiv.appendChild(buttonRemove);
          infoDiv.appendChild(buttonsDiv);
          itemDiv.appendChild(infoDiv);
          var items = document.getElementById("items");
          items.appendChild(itemDiv);
          count++;
          var counter = document.getElementById("count").innerHTML = "Total: " + String(count);
          closeCropWindow();
        }
        cancelButton.onclick= ()=>{
          closeCropWindow();
        }
        var cropDiv = document.getElementById('crop');
        cropDiv.style.display = "block";
      }
    
    
      function openDocumentInNewWindow(e){
        console.log(e);
        var docID = this.id;
        var allDocs = document.getElementsByClassName("chose-img");
        var documentToView;
        for(var i=0; i<allDocs.length; i++){
          if (allDocs[i].id == docID){
              documentToView = allDocs[i];
          }
        }
        if(documentToView){
          // var docWindow = window.open("/userDocs/" + documentToView.name, "Document", "width=500,height=700");
          var docWindow = window.open("", "Document", "width=500,height=700");
          // docWindow.document.write("<img width=500 height=700 src="+documentToView.src+">");
          docWindow.document.write("<img src="+documentToView.src+">");
        }
      }
    
      function removeSelectedDocument(){
        var docID = this.id;
        var documentToDelete;
        allDocs = document.getElementsByClassName("carousel-item");
        for(var i=0; i<allDocs.length; i++){
          if (allDocs[i].id == docID){
              documentToDelete = allDocs[i];
          }
        }
        if(documentToDelete){
          console.log("document removed");
          if(documentToDelete.classList.contains("active") && count > 1){
            for(var i=0; i<allDocs.length; i++){
              if (allDocs[i] != documentToDelete){
                  allDocs[i].classList.add("active");
              }
            }
          }
          documentToDelete.remove();
          count--;
          var counter = document.getElementById("count").innerHTML = "Total: " + String(count);
          if(count == 0){
            document.getElementById("zero-message").style.display = "block";
            document.getElementById("carouselExampleDark").style.display = "none";
          }
        }
      }
    
    </script>
<%- include("partials/footer") %>
